@import "tailwindcss";

:root {
  --color-bg: #F7F7F2;
  --color-bg-soft: #E4E6C3;

  --color-primary: #899878;
  --color-dark: #222725;
  --color-black: #121113;

  --color-text: #222725;
  --color-text-light: #6f756f;

  --color-white: #ffffff;
}

@theme {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-montserrat), sans-serif;
}
